html {
	--col-page: #fbfbf9;
	--col-back: #ffffff;
	--col-text: #444444;
	--col-link: #4466aa;
	--col-link-hover: #6699bb;
	--col-outline: #000000;
	--col-border: #cccccc;
	--col-border-hover: #888888;

	--col-h-comment: #999988;
	--col-h-error: #a61717;
	--col-h-error-back: transparent;
	--col-h-builtin: #000099;
	--col-h-number: #009999;
	--col-h-string: #dd1144;
	--col-h-name: #445588;
	--col-h-variable: #008080;
	--col-h-property: #800080;

	--col-chart-1: #002288;
	--col-chart-2: #880022;
	--col-chart-3: #228800;
	--col-chart-4: #bbaa00;
	--col-chart-5: #00bbaa;
	--col-chart-6: #aa00bb;
	--col-chart-7: #444444;
	--col-chart-8: #7722bb;
	--col-chart-9: #bb7722;
	--col-chart-10: #22bb77;
	--col-chart-n: #444444;

	@media (prefers-color-scheme: dark) {
		--col-page: #111111;
		--col-back: #000000;
		--col-text: #dddddd;
		--col-link: #4499ee;
		--col-link-hover: #aaccee;
		--col-outline: #f8f8f8;
		--col-border: #555555;
		--col-border-hover: #aaaaaa;

		--col-h-comment: #bbbbaa;
		--col-h-error: #ff0000;
		--col-h-error-back: transparent;
		--col-h-builtin: #88bbee;
		--col-h-number: #22cccc;
		--col-h-string: #dd99aa;
		--col-h-name: #aaaacc;
		--col-h-variable: #77aaaa;
		--col-h-property: #dd88dd;

		--col-chart-1: #6699dd;
		--col-chart-2: #dd6699;
		--col-chart-3: #99dd66;
		--col-chart-4: #ffdd66;
		--col-chart-5: #66ffdd;
		--col-chart-6: #dd66ff;
		--col-chart-7: #dddddd;
		--col-chart-8: #8866ff;
		--col-chart-9: #ff8866;
		--col-chart-10: #66ff88;
		--col-chart-n: #dddddd;
	}

	@media (prefers-contrast: more) {
		--col-page: Canvas;
		--col-back: Canvas;
		--col-text: CanvasText;
		--col-link: LinkText;
		--col-link-hover: LinkText;
		--col-outline: CanvasText;
		--col-border: ButtonBorder;
		--col-border-hover: ButtonBorder;

		--col-h-comment: GrayText;
		--col-h-error: MarkText;
		--col-h-error-back: Mark;
		--col-h-builtin: CanvasText;
		--col-h-number: CanvasText;
		--col-h-string: CanvasText;
		--col-h-name: CanvasText;
		--col-h-variable: CanvasText;
		--col-h-property: CanvasText;

		--col-chart-1: #000088;
		--col-chart-2: #880000;
		--col-chart-3: #008800;
		--col-chart-4: #888800;
		--col-chart-5: #008888;
		--col-chart-6: #880088;
		--col-chart-7: #444444;
		--col-chart-8: #6600bb;
		--col-chart-9: #bb6600;
		--col-chart-10: #00bb66;
		--col-chart-n: CanvasText;

		@media (prefers-color-scheme: dark) {
			--col-chart-1: #8888ff;
			--col-chart-2: #ff8888;
			--col-chart-3: #88ff88;
			--col-chart-4: #ffff88;
			--col-chart-5: #88ffff;
			--col-chart-6: #ff88ff;
			--col-chart-7: #cccccc;
			--col-chart-8: #cc88ff;
			--col-chart-9: #ffcc88;
			--col-chart-10: #88ffcc;
		}
	}
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
article,
section {
	margin: 0;
	padding: 0;
	font: inherit;
	line-height: inherit;
	color: inherit;
}

body {
	margin: 0;
	padding: 8px 16px 80vh;
	font: 1.2em sans-serif;
	line-height: 1.8;
	color: var(--col-text);
	background: var(--col-page);
}

main {
	max-width: 75ch;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3em 0 0.9em;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
}

header {
	margin: 2em 0 3em;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto;

	h1 {
		grid-column: 1 / 2;
		margin: 0;
	}

	a.qr {
		grid-area: 1 / 2 / 5 / 3;
		width: 6em;
		height: 6em;
		margin: -8px -8px 0 8px;
		text-decoration: none;

		img {
			display: block;
			width: 100%;
			filter: invert(0.2);

			@media (prefers-color-scheme: dark) {
				filter: invert(0.9);
			}
		}
	}

	p {
		grid-column: 1 / 2;
		margin: 16px 0 0;
		font-size: 0.8em;
		text-align: left;
	}

	& .tags {
		grid-column: 1 / 2;
		margin: 4px 0 0;
		font-size: 0.7em;
	}
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1.3em;
}

h4 {
	margin-bottom: 1em;
	font-size: 1.15em;
}

p {
	margin: 16px 0 0;
	text-align: justify;
}

sup {
	/* use custom vertical alignment to avoid changing the line height */
	vertical-align: baseline;
	position: relative;
	top: -0.5em;
}

sub {
	/* use custom vertical alignment to avoid changing the line height */
	vertical-align: baseline;
	position: relative;
	top: 0.5em;
}

hr {
	margin: 16px 0 32px;
	padding: 0;
	border: none;
	border-bottom: 1px solid var(--col-border);
}

del {
	text-decoration: line-through 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	del {
		text-decoration: line-through 2px;
	}
}

footer {
	margin-top: 128px;
	font-size: 0.9em;
	text-align: end;
}

a:link,
a:visited {
	color: var(--col-link);
	text-decoration: underline;
}
a:active,
a:hover {
	color: var(--col-link-hover);
	text-decoration: none;
}

.tags {
	display: flex;
	flex-flow: row wrap;
	gap: 4px;
}

a.tag {
	pointer-events: all;
	display: inline-block;
	border: 1px solid var(--col-border);
	background: var(--col-back);
	padding: 0 1em;
	border-radius: 100px;
	text-decoration: none;
}
a.tag:active,
a.tag:hover {
	border-color: var(--col-border-hover);
}

img {
	box-sizing: border-box;
	max-width: 100%;
}

figure {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 32px max(-200px, calc((100vw - 100%) / -2 + 16px));
	padding: 0;
	text-align: center;
	align-items: center;

	img:not(.sequence-diagram),
	.plot {
		border: 1px solid var(--col-outline);
		border-radius: 4px;
		background: var(--col-back);
		padding: 8px;
	}

	figcaption {
		font-size: 0.9em;
		max-width: 75ch;
	}
}

.plot {
	--col: var(--col-chart-n);
	--axis-value-gap: 4px;
	--axis-value-min-w: 4ch;
	--axis-value-min-h: 2.5em;
	--axis-label-gap: 8px;
	--notch-size: 6px;
	--arrow-length: 10px;
	--arrow-rad: 4px;
	--axis-width: 2px;
	--axis-overshoot: 6px;
	--arrow-space: 16px;
	display: flex;
	flex-flow: column;
	box-sizing: border-box;
	max-width: 100%;
	width: 600px;
	font-size: 1rem;
	line-height: 1;
	text-align: left;
	overflow: hidden;
	contain: content;

	&:has(.subplot.layout.h) {
		width: 1000px;
	}

	header {
		margin: 4px 0;
		font-size: 1.3em;
		text-align: center;
	}

	& .subplot {
		flex: 1;
	}

	& .subplot.layout {
		display: flex;
		flex-flow: column;
		container: chart-layout / inline-size;
		contain: inline-size layout paint style;

		& > div {
			flex: 1;
			display: flex;
			flex-flow: column;
			gap: 64px;
			align-content: center;
			justify-content: center;

			& > section {
				flex: 1;
				display: flex;
				flex-flow: column;
				width: 100%;
			}
		}

		&.h > div {
			flex-flow: row;

			@container chart-layout (width < 600px) {
				flex-flow: column;
			}
		}
	}

	& .subplot.cartesian {
		display: grid;
		padding: var(--arrow-space) var(--arrow-space) 0 0;
		grid-template-columns: max-content 1fr;
		grid-template-rows: 1fr max-content;
		overflow: hidden;
		contain: inline-size layout paint style;

		& .axis {
			position: relative;
			display: flex;

			& .line {
				position: absolute;
				background: var(--col-text);

				&::after {
					content: '';
					position: absolute;
					border: 0 solid transparent;
				}
			}

			& .label {
				text-align: center;
			}

			& .values {
				display: flex;
				position: relative;
				container: chart-axis / inline-size;
				contain: inline-size layout style;

				& > div {
					--sn: var(--n3);
					position: relative;
					font-size: 0.6em;
					opacity: 0.7;
					overflow: hidden;

					&.l0 {
						--sn: var(--n0);
						font-size: 0.9em;
						opacity: 1;
					}

					&.l1 {
						--sn: var(--n1);
						font-size: 0.8em;
						opacity: 0.9;
					}

					&.l2 {
						--sn: var(--n2);
						font-size: 0.7em;
						opacity: 0.8;
					}

					&::before {
						content: '';
						position: absolute;
						background: var(--col-text);
					}
				}
			}
		}

		& .axis.x {
			grid-area: 2 / 2 / 3 / 3;
			flex-direction: column-reverse;
			min-height: var(--arrow-space);

			& .line {
				top: calc(var(--axis-width) * -0.5);
				left: calc(var(--axis-width) * -0.5);
				width: calc(var(--axis-width) + 100% + var(--axis-overshoot));
				height: var(--axis-width);

				&::after {
					top: calc(var(--axis-width) * 0.5 - var(--arrow-rad));
					left: 100%;
					border-width: var(--arrow-rad) 0 var(--arrow-rad) var(--arrow-length);
					border-left-color: var(--col-text);
				}
			}

			& .label {
				padding-top: var(--axis-label-gap);
			}

			& .values {
				& > div {
					--size: calc(100cqw / var(--sn));
					--vissize: calc(
						sign(sign(calc(var(--size) - var(--axis-value-min-w))) + 1) *
							var(--size)
					);
					width: var(--vissize);
					margin-inline: calc(var(--vissize) * -0.5);
					left: calc(var(--pos) * 100%);
					padding-top: calc(var(--axis-value-gap) + var(--notch-size));
					text-align: center;
					pointer-events: none;

					& span {
						pointer-events: all;
					}

					&::before {
						left: calc(50% - 0.5px);
						top: 0;
						width: 1px;
						height: var(--notch-size);
					}
				}
			}
		}

		& .axis.y {
			grid-area: 1 / 1 / 2 / 2;
			writing-mode: sideways-lr;
			flex-direction: column;
			min-width: var(--arrow-space);

			& .line {
				bottom: 0;
				right: calc(var(--axis-width) * -0.5);
				width: var(--axis-width);
				height: calc(100% + var(--axis-overshoot));

				&::after {
					bottom: 100%;
					left: calc(var(--axis-width) * 0.5 - var(--arrow-rad));
					border-width: 0 var(--arrow-rad) var(--arrow-length);
					border-bottom-color: var(--col-text);
				}
			}

			& .label {
				padding-right: var(--axis-label-gap);
			}

			& .values {
				flex-direction: row;

				& > div {
					--vissize: calc(
						sign(sign(calc(100cqh / var(--sn) - var(--axis-value-min-h))) + 1) *
							1em
					);
					height: var(--vissize);
					margin-inline: calc(var(--vissize) * -0.5);
					bottom: calc(var(--pos) * 100%);
					padding-right: calc(var(--axis-value-gap) + var(--notch-size));
					display: grid;
					align-items: end;

					& span {
						writing-mode: initial;
						text-align: right;
					}

					&::before {
						top: calc(50% - 0.5px);
						right: 0;
						height: 1px;
						width: var(--notch-size);
					}
				}
			}
		}

		& .view {
			grid-area: 1 / 2 / 2 / 3;
			align-self: stretch;
			justify-self: stretch;
		}
	}

	& .n1 {
		--col: var(--col-chart-1);
	}
	& .n2 {
		--col: var(--col-chart-2);
	}
	& .n3 {
		--col: var(--col-chart-3);
	}
	& .n4 {
		--col: var(--col-chart-4);
	}
	& .n5 {
		--col: var(--col-chart-5);
	}
	& .n6 {
		--col: var(--col-chart-6);
	}
	& .n7 {
		--col: var(--col-chart-7);
	}
	& .n8 {
		--col: var(--col-chart-8);
	}
	& .n9 {
		--col: var(--col-chart-9);
	}
	& .n10 {
		--col: var(--col-chart-10);
	}

	& pattern {
		&.n2,
		&.n4,
		&.n6,
		&.n8,
		&.n10 {
			transform: rotate(90deg);
		}
	}

	& .grid {
		stroke: var(--col-border);
		stroke-width: 1;
		vector-effect: non-scaling-stroke;
		opacity: 0.1;

		&.l0 {
			opacity: 1;
		}
		&.l1 {
			opacity: 0.4;
		}
		&.l2 {
			opacity: 0.2;
		}
	}

	& .area {
		opacity: 0.2;
		fill-rule: nonzero;
	}

	& .area-pattern path {
		fill: var(--col);
	}

	& .edge {
		stroke: var(--col);
		stroke-width: 2px;
		vector-effect: non-scaling-stroke;
		stroke-linejoin: round;
		stroke-linecap: round;

		&.exclusive {
			stroke-dasharray: 6px 10px;
		}
	}
}

.hscroll {
	margin: 16px max(-200px, calc((100vw - 100%) / -2));
	padding: 8px 16px 16px;
	overflow-x: auto;

	& > math {
		width: fit-content;
		margin: 0 auto;
	}
}

.msty.l {
	justify-items: start;
}

.msty.r {
	justify-items: end;
}

.msty.pl {
	padding-inline-start: 0;
}

.msty.pr {
	padding-inline-end: 0;
}

.msty.boxed {
	display: inline-block;
	border: 1px solid currentColor;
	padding: 2px 3px;
	border-radius: 2px;
}

.msty.cancel {
	display: inline-block;
	padding: 2px 0;
	background: linear-gradient(
		to top left,
		transparent calc(50% - 1px),
		currentColor calc(50% - 0.5px),
		currentColor calc(50% + 0.5px),
		transparent calc(50% + 1px)
	);
}

.msty.strike {
	display: inline-block;
	background: linear-gradient(
		transparent calc(50% - 1px),
		currentColor calc(50% - 1px),
		currentColor 50%,
		transparent 50%
	);
}

.table-outline {
	width: max-content;
	margin: 0 auto;
	padding: 8px;
	border: 1px solid var(--col-outline);
	border-radius: 4px;
	background: var(--col-back);

	& table {
		margin: 0;
	}
}

@media (prefers-color-scheme: dark) {
	img.sequence-diagram {
		filter: hue-rotate(180deg) invert(0.95) saturate(3);
	}
}

a.feed {
	padding: 2px 0 0 calc(1em + 6px);
	background: center left / 1em 1em no-repeat url('/feed.svg');
}

code {
	white-space: nowrap;
	margin: -2px 0;
	padding: 2px 3px;
	box-shadow: 0 0 0 1px var(--col-border);
	background: var(--col-back);
	border-radius: 4px;
}

pre {
	margin: 16px 0;
	padding: 16px 20px;
	background: var(--col-back);
	overflow: auto;
	tab-size: 4;
	border: 1px solid var(--col-outline);
	border-radius: 4px;

	code {
		white-space: pre;
		margin: 0;
		padding: 0;
		box-shadow: none;
		background: none;
		border-radius: 0;
	}
}

table {
	margin: 24px 0;
	border-collapse: collapse;
	font-size: 0.9em;

	th {
		font-weight: normal;
		text-align: center;
		padding: 4px 16px;
	}

	td {
		text-align: start;
		padding: 8px 16px;
	}

	th,
	td {
		border-top: 1px solid var(--col-border);
		border-left: 1px solid var(--col-border);

		&:first-child {
			border-left: none;
		}
	}

	thead th {
		border-top: none;
	}

	tbody tr:first-child td {
		border-top-color: var(--col-outline);
	}

	p:first-child {
		margin: 0;
	}

	pre,
	code {
		margin: 0;
		padding: 0;
		background: transparent;
		box-shadow: none;
		border: none;
	}
}

blockquote {
	border-left: 2px solid var(--col-border);
	padding-left: 16px;
	margin: 16px 0 16px 16px;
}

.fancy {
	font-family: cursive;
	font-size: 1.1em;
}

ul,
ol {
	margin: 16px 0;
	padding: 0 0 0 40px;

	li {
		margin: 8px 0;

		&::marker {
			line-height: 1;
		}
	}
}

.footnote-list li {
	list-style: none;
	position: relative;

	&:before {
		content: attr(data-symbol);
		position: absolute;
		right: 100%;
		margin-right: 12px;
		font-size: 0.8em;
		vertical-align: super;
	}
}

.posts {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 32px 0;
		padding: 0;

		& > a {
			display: block;
			position: relative;
			padding: 24px 16px;
			background: var(--col-back);
			border: 1px solid var(--col-border);
			border-radius: 4px;
			text-decoration: none;

			&:active,
			&:hover {
				border-color: var(--col-border-hover);
			}
		}

		time {
			position: absolute;
			top: 4px;
			right: 6px;
			font-size: 0.6em;
		}

		& .post-title {
			font-size: 1.2em;
			line-height: 1.2;
		}

		& .tags {
			pointer-events: none;
			position: relative;
			margin: -12px 16px 0;
			font-size: 0.7em;
			min-height: calc(1em * 1.8 + 2px);
		}
	}
}

.highlight .comment,
.highlight .meta {
	color: var(--col-h-comment);
	font-style: italic;
}
.highlight .error {
	color: var(--col-h-error);
	background: var(--col-h-error-back);
}
.highlight .keyword {
	font-weight: bold;
}
.highlight .selector-tag {
	font-weight: bold;
}
.highlight .built_in,
.highlight .title {
	color: var(--col-h-builtin);
}
.highlight .number {
	color: var(--col-h-number);
}
.highlight .string {
	color: var(--col-h-string);
}
.highlight .name {
	color: var(--col-h-name);
	font-weight: bold;
}
.highlight .variable {
	color: var(--col-h-variable);
}
.highlight .property,
.highlight .literal,
.highlight .attribute,
.highlight .attr {
	color: var(--col-h-property);
}

@media print {
	body {
		--col-page: transparent;
		--col-back: white;
		--col-text: black;
		--col-link: black;
		font-size: 1em;
		padding: 0;
	}

	header p,
	header .tags {
		margin: 0;
	}

	pre {
		padding: 4px 8px;
		font-size: 0.8em;

		code {
			white-space: pre-wrap;
		}
	}

	a.tag {
		border: none;
		padding: 0 8px 0 0;
		background: var(--col-back);
	}
}
